@model WebWordGame.Models.PersonModel

<div>
    <div id="main">
        <div id="logInForm">
            <div id="registration">

                <form asp-action="Create" name="registrationForm">
                    <div style="text-align: center; text-decoration: underline;">
                        Зарегистрируйся и играй
                    </div>


                    @Html.LabelFor(model => model.LoginName)
                    <br />
                    @Html.EditorFor(model => model.LoginName)
                    <br />
                    @Html.LabelFor(model => model.Email)
                    <br />
                    @Html.EditorFor(model => model.Email)
                    <br />
                    @Html.LabelFor(model => model.Password)
                    <br />
                    @Html.EditorFor(model => model.Password)
                    <br />
                    Повтор пароля
                    <br />
                    ??????????????
                    <br />

                    <input class="menuBtns" type="submit" value="Зарегистрироваться" />
                    <input class="menuBtns" type="button" value="Уже есть аккаунт?" onclick="showLoginMenu(true)" />
                    <input class="menuBtns" type="button" value="В главное меню" onclick="" />

                </form>

            </div>

            <div id="login" style="display: none;">

                <form asp-action="" name="registrationForm">
                    <div style="text-align: center; text-decoration: underline;">
                        Войди и играй
                    </div>


                    @Html.LabelFor(model => model.LoginName)
                    <br />
                    @Html.EditorFor(model => model.LoginName)

                    <br />
                    @Html.LabelFor(model => model.Password)
                    <br />
                    @Html.EditorFor(model => model.Password)


                    <input class="menuBtns" type="submit" value="Войти" />
                    <input class="menuBtns" type="button" value="Нет аккаунта?" onclick="showLoginMenu(false)" />
                    <input class="menuBtns" type="button" value="В главное меню" onclick="" />



                </form>
            </div>


        </div>

    </div>
</div>