@model WebWordGame.Models.PersonModel

<div>
    <div id="main">
        <div id="logInForm">
            <div id="registration">

                <form asp-action="Create" name="registrationForm">
                    <div style="text-align: center; text-decoration: underline;">
                        Зарегистрируйся и играй
                    </div>


                    @Html.LabelFor(model => model.LoginName)
                    <label asp-for="LoginName"></label><br />
                    <input type="text" asp-for="LoginName" />
                    <span asp-validation-for="LoginName"></span>
                    <br />
                    @Html.EditorFor(model => model.LoginName)
                    <br />
                    @Html.LabelFor(model => model.Email)
                    <br />
                    @Html.EditorFor(model => model.Email)
                    <br />
                    @Html.LabelFor(model => model.Password)
                    <br />
                    @Html.EditorFor(model => model.Password)
                    <br />
                    Повтор пароля
                    <br />
                    ??????????????
                    <br />

                    <input class="menuBtns" type="submit" value="Зарегистрироваться" />

                    <a class="menuBtns" asp-action="Login" asp-controller="LogIn"> Уже есть аккаунт? </a>

                    <input class="menuBtns" type="button" value="В главное меню" onclick="goToThePageForBtns('\Home/Index')" />

                </form>

            </div>


        </div>

    </div>
</div>