@model WebWordGame.Models.RegistrationModel

<div>
    <div id="main">
        <div id="logInForm">
            <div id="registration">

                @*<form asp-action="Create" name="registrationForm">
            <div style="text-align: center; text-decoration: underline;">
                Зарегистрируйся и играй
            </div>
            <div>
                @Html.LabelFor(model => model.LoginName)
                <br />
                @Html.EditorFor(model => model.LoginName)

                <span asp-validation-for="LoginName" class="attention-text"></span>
            </div>


            <div>
                @Html.LabelFor(model => model.Email)
                <br />
                @Html.EditorFor(model => model.Email)
                <span asp-validation-for="Email" class="attention-text"></span>
            </div>


            <div>
                @Html.LabelFor(model => model.Password)
                <br />
                @Html.PasswordFor(model => model.Password)
                <br/>


                <div id="hideAndSeekPasswordBlock" style="display: flex;">
                    <div id="forEyeBlock" style=" margin-top: auto; margin-bottom: auto;"></div>
                    <div id="TextForShowPass" style="font-size:19px;">Показать пароль</div>
                    <div id="TextForHidePass" style="display: none; font-size:19px;">Скрыть пароль</div>

                </div>




                <span asp-validation-for="Password" class="attention-text"></span>


            </div>

            <div class="formForBtns">
            <input class="menuBtns formBtns" type="submit" value="Зарегистрироваться" />
            <br />

            <a class="menuBtns formBtns" asp-action="Login" asp-controller="LogIn"> Уже есть аккаунт? </a>

            <br />

            <input class="menuBtns formBtns" type="button" value="В главное меню" onclick="goToThePageForBtns('\Home/Index')" />
                </div>
        </form>*@
                <div style="text-align: center; text-decoration: underline;">
                    Зарегистрируйся и играй
                </div>

                <form asp-action="Registration" asp-controller="LogIn" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <div>
                            <label asp-for="LoginName">Введите Login</label><br />
                            <input type="text" asp-for="LoginName" class="inputBlock" />
                            <span asp-validation-for="LoginName" class="attention-text" />
                        </div>
                        <div>
                            <label asp-for="Email">Введите Email</label><br />
                            <input type="text" asp-for="Email" class="inputBlock" />
                            <span asp-validation-for="Email" class="attention-text" />
                        </div>
                        <div>
                            <label asp-for="Password">Введите пароль</label><br />
                            <input asp-for="Password" class="inputBlock" />
                            <span asp-validation-for="Password" class="attention-text" />


                        </div>
                        <div id="hideAndSeekPasswordBlock" style="display: flex;">
                            <div id="forEyeBlock" style=" margin-top: auto; margin-bottom: auto;"></div>
                            <div id="TextForShowPass" style="font-size:19px;">Показать пароль</div>
                            <div id="TextForHidePass" style="display: none; font-size:19px;">Скрыть пароль</div>

                        </div>
                        <div>
                            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                            <input asp-for="ConfirmPassword" class="inputBlock" />
                            <span asp-validation-for="ConfirmPassword" class="attention-text" />
                        </div>
                        @*<div>
                            <input type="submit" value="Регистрация" />
                        </div>*@
                        <div class="formForBtns">
                            <input class="menuBtns formBtns" type="submit" value="Зарегистрироваться" />
                            <br />

                            <a class="menuBtns formBtns" asp-action="Login" asp-controller="LogIn"> Уже есть аккаунт? </a>

                            <br />

                            <input class="menuBtns formBtns" type="button" value="В главное меню" onclick="goToThePageForBtns('\Home/Index')" />
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>


